extends layout

block content

  div(ng-app="todoApp")

    div(ng-controller="TodoCtrl")
      h1 Todo List with {{incompleteCount}} incomplete todos
      button.add(ng-click="addTodoItem()") Add
      form
        input(type="text" placeholder="add a new item" ng-model="formTodoText")

      div.page
        ul
          li(ng-repeat="todo in todos" ng-click="toggle(todo)" class="todo-{{todo.done}}" )
            {{todo.text}}
            span#created.
              created on: {{todo.createdOn | date: 'MMMM d, y - h:mm a'}}
