* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  outline: none;
}
body {
  font: 16px;
  color: #222;
  margin: 3em;
}
body .page {
  width: 600px;
  border: 1px solid #eee;
  min-height: 30em;
  box-shadow: 0 1em 1em rgba(0,0,0,0.1);
  margin-top: 2em;
}
body .page input {
  width: 100%;
}
body .page ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #b5b5b5;
}
body .page li {
  border: 1px solid #b5b5b5;
  padding: 0.8em;
  padding-left: 15px;
}
body .page li input {
  width: 13px;
}
body .page .todo-true {
  color: #ccc;
  text-decoration: line-through;
}
body input {
  padding: 4px;
  border: 1px solid #b5b5b5;
  font-size: 1em;
}
body button {
  position: relative;
  left: 0px;
  top: -6px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 7px 18px;
  font-size: 1em;
  line-height: 100%;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
  color: #fff;
  border-radius: 3px;
  background: #3fb8e8;
  border: none;
}
body #created {
  float: right;
  font-size: 0.8em;
  color: #bbb;
}
